.input {
  width: auto;
  display: inline-block;
}
body {
  padding: 1em;
  background: grey;
}
.row {
  text-align: center;
}
.cell {
  display: inline-block;
  width: 18em;
  height: 20em;
  border: 5px solid #aaaa;
}
